//default config
@import '../sass/config/reset';
@import '../sass/config/var';
@import '../sass/config/mixin';


@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Regular'), local('DIN-Pro-Regular'),
        url('/src/fonts/DINPro.woff2') format('woff2'),
        url('/src/fonts/DINPro.woff') format('woff'),
        url('/src/fonts/DINPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

//components
@import '../sass/components/container';
@import '../sass/components/wrapper';
@import '../sass/components/nav';
@import '../sass/components/content';
@import '../sass/components/features';
@import '../sass/components/history';
@import '../sass/components/articles';
@import '../sass/components/blog';
@import '../sass/components/button';
@import '../sass/components/footer';
@import '../sass/components/contact';
@import '../sass/components/link';

