.articles {  
    &__title {
        font-size: 3.2rem;
        line-height: 4.5rem;
        color: $color-title;
        padding-bottom: 1.6rem;
    }

    &__text {
        color: $color-text;
        font-size: 1.6rem;
        line-height: 2.8rem;
        padding-bottom: 8rem;
    }

    &__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 26.4rem;
    }

    &__description {
        width: 50%;
    }

    

    &__button {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
    }  

}

.articles-body {
    padding-bottom: 20.8rem;
}

.articles__footer-title {
    color: $color-text;
    font-size: 1.4rem;
    line-height: 2rem;
    padding-bottom: 3.2rem;
    text-transform: uppercase;
} 

