.articles {
    padding-bottom: 208px;
    
    &__title {
        font-size: 32px;
        line-height: 45px;
        color: $color-title;
        padding-bottom: 16px;
    }

    &__text {
        color: $color-text;
        font-size: 16px;
        line-height: 28px;
        padding-bottom: 80px;
    }

    &__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 264px;
    }

    &__description {
        width: 50%;
    }

    .footer__title {
        color: $color-text;
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 32px;
    }   

    &__button {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
    }  

}

