.history {

    &__description {
        background: $color-title;
        width: 82%;
        padding: 98px 417px 74px 98px;
    }
    
    &__subtitle {
        color: $color-text;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        padding-bottom: 24px;
    }

    &__title {
        color: white;
        font-size: 32px;
        line-height: 44px;
        padding-bottom: 24px;
    }

    &__text {
        color: white;
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 56px;
    }

    &__link {
        text-decoration: none;
        color: white;
    }

    &__link:before {
        background: white!important;
     }
    
     &__link:after {
        background: white!important;
     }


    &__hr {
        padding-bottom: 24px;
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 100%;
        height: auto;
    }

}

.history-body {
    position: relative;
    display: flex;
    flex-wrap: wrap;    
    padding-top: 168px;
}

.history__hr:after {
    display: block;
    content: "";
    background-color: #ffffff;
    height: 1px;
    opacity: 0.2;
}
