.nav {
    padding-top: 64px;
    padding-bottom: 96px;

    &__link {
        text-decoration: none;
        color: $color-title;
        font-size: 16px;
        line-height: 40px;
     }

   
     &__list {
         display: flex;
         flex-basis: 50%;
         justify-content: space-between;
         }

}

.nav-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link:hover {      
        color: orange;
        border-bottom: 2px solid orange;
        }
